<div class="@AdditionalClasses">
    <textarea placeholder="@Placeholder" 
        class="form-control" 
        id="@Id" 
        value="@BindValue"
        @oninput="@OnBindValueChanged"
        rows="@Rows"></textarea>
</div>

@code {
    [Parameter]
    public string Placeholder { get; set; } = "";

    [Parameter]
    public string AdditionalClasses { get; set; } = "";

    [Parameter]
    public int Rows { get; set; } = 3;

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string BindValue { get; set; }

    [Parameter]
    public EventCallback<string> BindValueChanged { get; set; }

    public async Task OnBindValueChanged(ChangeEventArgs value)
    {
        string newValue = value.Value.ToString();
        await BindValueChanged.InvokeAsync(newValue);
    }


    
}