@using JobSeekerAssistant.Client.Domain.Enums
<div class="form-floating @AdditionalClasses">
    <input type="@GetInputType()" 
           class="form-control" 
           id="@Id" 
           placeholder="name@example.com"
           value="@BindValue"
           @oninput="(e) => OnBindValueChanged(e)"
           >
    <label for="@Id">@Placeholder</label>
</div>

@code {
    [Parameter] public string Placeholder { get; set; } = "";

    [Parameter]
    public string AdditionalClasses { get; set; } = "";

    [Parameter]
    public InputType Type { get; set; } = InputType.Text;

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string BindValue { get; set; }

    [Parameter]
    public EventCallback<string> BindValueChanged { get; set; }

    public async Task OnBindValueChanged(ChangeEventArgs value)
    {
        string newValue = value.Value.ToString();
        await BindValueChanged.InvokeAsync(newValue);
    }


    private string GetInputType()
    {
        return Type switch

        {
            InputType.Text => "text",
            InputType.Email => "email",
            InputType.Password => "password",
            InputType.Search => "search",
            InputType.Tel => "tel",
            InputType.Url => "url",
            _ => "text"
        };
    }
}