@page "/login"

<div class="card p-3 @AdditionalClasses">
    <EditForm Model="LoginDto" OnValidSubmit="@OnLogin">
        <InputTextFloating Id="email"
                           Placeholder="Användarnamn" 
                           Type="InputType.Email" 
                           AdditionalClasses="mb-3" 
                           BindValue="@LoginDto.Username" 
                           BindValueChanged="@OnEmailInputChanged" />

        <InputTextFloating Id="password" 
                           Placeholder="Lösenord" 
                           Type="InputType.Password"
                           AdditionalClasses="mb-3" 
                           BindValue="@LoginDto.Password" 
                           BindValueChanged="@OnPasswordInputChanged"/>
        <Button Type="@ButtonType.Submit" 
                Color="Colors.Blue"
                >Logga in</Button>
    </EditForm>
</div>


@code {
    public LoginDto LoginDto { get; set; } = new();

    [Parameter] 
    public string AdditionalClasses { get; set; } = "";

    [Parameter]
    public EventCallback<EditContext> OnLogin { get; set; }

    private async Task OnEmailInputChanged(string newValue)
    {
        LoginDto.Username = newValue;
    }


    private async Task OnPasswordInputChanged(string newValue)
    {
        LoginDto.Password = newValue;
    }

}